<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Beacon Tracker</title>
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.css"/>
</head>
<body ng-app="BeaconTracker" ng-controller="BeaconTrackerCtrl" >

<div class="container-fluid col-lg-8 col-lg-offset-2">
    <h2 class="text-center">Urządzenia znajdujące się w zasięgu</h2>
    <div class="row" style="height: 30px">

    </div>

    <div ng-show="errorMessage !== ''" class="alert alert-danger col-lg-7 col-md-offset-3" role="alert" style="margin-left: 21%;">{{errorMessage}}</div>

    <div ng-hide="errorMessage !==''">
        <div class="panel panel-primary" ng-repeat="trackedDevice in devices">
            <div class="panel-heading" ng-click="toggleView($index)">
                <h4 class="text-center">{{trackedDevice.deviceModel}}</h4>
            </div>
            <div class="panel-body" ng-hide="view[$index]">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Adres</th>
                            <th>RSSI</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="beacon in trackedDevice.devicesInRangeList">
                            <td>{{beacon.address}}</td>
                            <td>{{beacon.rssi}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

</body>
<script src="node_modules/angular/angular.js"></script>
<script src="node_modules/angular-bootstrap/ui-bootstrap.js"></script>
<script src="node_modules/angular-route/angular-route.js"></script>
<script src="node_modules/bootstrap/dist/js/bootstrap.js"></script>
<script src="app.js"></script>
</html>